*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}
html, body{
  height: 100%;
  width: 100%;
  background-color: #111;
}
.parent{
  display: flex;
  padding: 20px;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 20px;
}
.card{
width: 300px;
border: 1px solid white;
padding: 20px;
text-align: center;
border-radius: 10px;
background-color: #222;
}
.card p{
  margin: 20px 0;
}
.card button{
  padding: 10px 20px;
  background-color: white;
  color: #111;
  border: none;
  border-radius: 5px;
}
.card img{
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
}
.pp{
  display: flex;
}