*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #000;
  color: aliceblue;
}
html,
body{
  height: 100%;
  width: 100%;
}
.card{
 padding: 30px;

   border: solid white;
   background-color: pink;
}